.container {
    display: flex;
    height: 100vh;
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 250px;
    border: 2px solid black;
    margin: auto;
}

#display {
    display: flex;
    flex: 1;
    font-family: 'Orbitron', sans-serif;
    height: 60px
}

#display p {
    margin: auto;
    font-size: 40px;
}

/* Buttons */
#button-grid {
    display: grid;
    flex: 4;
    grid-template-columns: repeat(4, 1fr);
}

#button-grid button {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
}

#display-buttons {
    display: flex;
}

#display-buttons button {
    flex: 1;
    height: 60px;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
}

.active {
    background-color: red;
}