body {
    background-color: #85C7F3;
}

.container {
    display: flex;
    height: 100vh;
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 250px;
    border: 1px solid black;
    margin: auto;
}

#display {
    background-color: #4C4C4C;
    display: flex;
    flex: 1;
    font-family: 'Orbitron', sans-serif;
    border: 1px solid black;
    height: 60px
}

#display div {
    margin: auto;
    font-size: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #DBDBDB;
}

button {
    background-color: #636363;
    color: #DBDBDB;
}

button:hover {
    opacity: 0.9;
}

/* Buttons */
#button-grid {
    display: grid;
    flex: 4;
    grid-template-columns: repeat(4, 1fr);
}

#button-grid button {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
}

#display-buttons {
    display: flex;
}

#display-buttons button {
    flex: 1;
    height: 60px;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
}

.active {
    background-color: red;
}